.cabecera {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: flex-start;

}

  /* Logo */

  .logo {
    width: 267px;
    height: 246px;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #dadcf7aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #cde7eeaa);
}