.iniciar-btn, .registrar-btn {
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 576px) {
  .card {
    padding: 10px;
  }
}

.is-valid {
  border-color: #28a745 !important; /* Verde para coincidir */
}

.is-invalid {
  border-color: #dc3545 !important; /* Rojo para no coincidir */
}

.min-vh-80 {
  min-height: 80vh;
}

.bg-success {
  background-color: #198754 !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

.active-tab {
  color: white !important;
}

.inactive-tab {
  color: black !important;
}
