/* Estilos para los enlaces de navegación */
.enlace {
    color: #f92d4f; /* Color del texto */
    text-decoration: none; /* Quitar subrayado predeterminado */
    margin-right: 20px; /* Espaciado entre los enlaces */
    font-size: 16px; /* Tamaño de fuente */
    transition: color 0.3s ease; /* Transición suave de color */
  }
  
  /* Estilos para los enlaces cuando están en estado de hover (sobre) */
  .enlace:hover {
    color: #9dd13c; /* Cambiar el color del texto al pasar el mouse */
    font-style: italic;
    text-decoration: underline;
  }

